* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #f1eded;
  color: #494949;
  margin: 0;
  min-height: 100vh;
}

.row {
  display: flex;
}

.center {
  text-align: center;
}

.app-name {
  font-family: 'Amaranth', sans-serif;
  color: #ffcb91;
  font-size: 2rem;
  text-align: center;
  display: none;
}

.page-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}

.location-form {
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 2rem;
  background-color: white;
  box-shadow: 1px 2px 10px gray;
}

.input-div {
  padding: 2rem 0;
}

.location-label {
  font-weight: 500;
  font-size: 1.2rem;
}

.location-input {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 1px 2px 5px gray;
  width: 100%;
  height: 1.8rem;
}

.location-input:focus {
  outline: none;
  border: 2px solid #6ddccf;
}

.go-button {
  padding: 0.5rem 3rem;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: #6ddccf;
  color: white;
  font-size: 1.4rem;
  box-shadow: 1px 2px 10px gray;
  cursor: pointer;
}

.pac-container {
  font-family: 'Raleway', sans-serif;
  border-radius: 10px;
}

.read-only {
  display: flex;
  color: gray;
  background-color: rgb(240, 240, 240);
  line-height: 1rem;
  margin: 0;
  align-items: center;
}

@media screen and (min-width: 768px) {
  body {
    background-color: white;
  }

  .app-name {
    display: block;
  }

  .location-form {
    border: none;
    box-shadow: none;
  }
}
