* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  background-color: #f1eded;
  color: #494949;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

header {
  display: none;
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  min-width: 23rem;
  width: 100%;
  height: 100%;
  margin-bottom: 4rem;
  position: relative;
}

.app-name {
  display: none;
}

.page-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: gray;
  text-align: center;
}

.page {
  border-radius: 50px;
  padding: 2rem 1.5rem;
  background-color: white;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  height: 100%;
  margin: 0.8rem;
}

.input-div {
  padding: 2rem 0;
}

.location-label {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1rem;
}

.location-input {
  font-size: 1.2rem;
  border-radius: 50px;
  border: 1px solid gray;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  height: 1.8rem;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.read-only {
  display: flex;
  color: black;
  background-color: rgb(240, 240, 240);
  line-height: 1rem;
  margin: 0.5rem 0;
  align-items: center;
}

.button {
  padding: 0.5rem 2.5rem;
  border-radius: 50px;
  border: 1px solid lightgray;
  background-color: #6ddccf;
  color: white;
  font-size: 1.6rem;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  cursor: pointer;
}

.pac-container {
  font-family: 'Raleway', sans-serif;
  border-radius: 15px;
}

.map {
  height: 23rem;
  border-radius: 50px;
  margin: 0.5rem;
}

.route-details-text {
  background-color: white;
  border-radius: 30px;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 0;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  padding-bottom: 2rem;
}

.route-info {
  padding: 1rem 0 0 0.5rem;
  display: flex;
  justify-content: space-between;
}

.options {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 1rem 1rem 1rem 3rem;
  background-color: white;
  margin: 0.5rem;
}

.options-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.option-button {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  width: 10rem;
  flex-basis: 50%;
}

.save-button {
  width: 8rem;
  flex-basis: 40%;
}

.option-link {
  text-decoration: none;
}

.option-button > i {
  color: #ffcb91;
  font-size: 1.8rem;
  padding: 0.5rem;
}

.button-text {
  color: #ffcb91;
  font-size: 1.4rem;
  font-weight: 500;
}

.route-list-item {
  display: flex;
  border-top: 1px solid lightgray;
  padding: 1rem 0;
  cursor: pointer;
  justify-content: space-between;
}

.route-item-locations {
  flex-basis: 75%;
}

.route-item-icon-location {
  display: flex;
  align-items: center;
}

.route-item-start-location {
  font-weight: 600;
}

.stop-location {
  padding-left: 1rem;
}

.walk-icon {
  color: #ffcb91;
  font-size: 1.6rem;
  padding: 0.2rem 0.5rem;
}

.marker-icon {
  color: #ffcb91;
  font-size: 1.3rem;
  padding: 0.2rem 0.5rem;
}

.route-item-totals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 25%;
}

.no-routes {
  text-align: center;
  font-style: italic;
  color: darkgray;
  padding: 2rem;
  border-top: 1px solid lightgray;
}

.walk-details-text {
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 1rem;
  background-color: white;
  margin: 0 0.5rem;
}

.walk-details-section {
  padding: 1rem;
}

.walk-details-section > h2 {
  font-weight: 500;
  font-size: 1.4rem;
}

.walk-details-section li {
  padding: 0.5rem 0;
}

.no-data {
  font-style: italic;
  color: darkgray;
}

.friend-list {
  padding: 2rem 1rem;
}

.friend-list-item {
  display: flex;
  align-items: center;
  width: 15rem;
}

.checkbox {
  width: 1.6rem;
  height: 1.6rem;
}

.friend-label {
  display: flex;
}

.friend-icon {
  color: #ffcb91;
  font-size: 3rem;
  padding: 1rem;
}

.friend-name {
  font-size: 1.5rem;
}

.no-friends {
  text-align: center;
  font-style: italic;
  color: darkgray;
  padding: 2rem;
}

.add-date-div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-date-icon {
  color: #ffcb91;
  font-size: 2rem;
  padding-right: 1rem;
}

.add-date-text {
  color: #ffcb91;
  font-size: 1.4rem;
  font-weight: 500;
}

.modal {
  position: absolute;
  border-radius: 50px;
  padding: 2rem 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  top: 35%;
  left: 3%;
  z-index: 2;
}

.date-time {
  border-radius: 20px;
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  padding: 0.3rem 0 0.3rem 1rem;
  margin: 0.5rem 0;
}

.date-label {
  padding-left: 1rem;
}

.date-button-div {
  text-align: center;
  padding-top: 1rem;
}

.date-button {
  padding: 0.5rem 0;
  margin: 0 0.5rem;
  width: 6rem;
  border-radius: 50px;
  border: 1px solid lightgray;
  background-color: #6ddccf;
  color: white;
  font-size: 1.2rem;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  cursor: pointer;
}

.date-button.cancel {
  background-color: lightgray;
}

.edit-header {
  font-weight: 500;
  font-size: 1.4rem;
  padding: 2rem 1rem 0;
}

.edit-row {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.edit-row > i {
  color: #ffcb91;
  padding: 0 1.5rem 0 0;
  font-size: 2rem;
  cursor: pointer;
  width: 4rem;
}

.edit-row > p {
  font-size: 1.4rem;
  width: 11rem;
  margin: 0.5rem 0;
}

.delete.edit-row {
  padding: 4rem 0 3rem;
}

.delete-route {
  color: #ffcb91;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  text-align: center;
}

.route-icon-details {
  display: flex;
  align-items: center;
}

.shoes-icon {
  color: #ffcb91;
  font-size: 1.6rem;
  transform: rotate(-90deg);
  padding-right: 0.5rem;
}

.route-item-details > h2 {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0;
}

.route-item-details > p {
  margin: 0;
  padding-left: 0.5rem;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

.week {
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  color: darkgray;
  padding: 1rem 0;
}

.friend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend-name-rank {
  display: flex;
  align-items: center;
}

.friend-rank {
  font-size: 1.5rem;
  padding-right: 0.5rem;
  font-weight: 500;
}

.friend-distance {
  font-size: 1.4rem;
}

.add-friend-input {
  font-size: 1.2rem;
  border-radius: 50px;
  border: 1px solid gray;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  height: 1.8rem;
  padding: 1rem 1rem 1rem 1.5rem;
  margin: 1rem 0;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.add-friend.button {
  font-size: 1.4rem;
  padding: 0.4rem 1.5rem;
  display: flex;
  align-items: center;
  margin: 1rem auto;
}

.add-icon {
  padding-right: 0.5rem;
  font-size: 1.2rem;
}

.auth-page {
  background-color: #ffcb91;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}

.auth-form {
  width: 100%;
}

.auth-app-name {
  text-align: center;
  font-size: 2.4rem;
  font-family: 'Amaranth', sans-serif;
  color: white;
  font-weight: normal;
  letter-spacing: 0.05rem;
}

.auth-input-div {
  margin: 2.5rem 1.5rem 1rem;
  display: flex;
  justify-content: center;
}

.auth-input {
  font-size: 1.3rem;
  border-radius: 50px;
  border: 1px solid darkgray;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  height: 1.8rem;
  padding: 1.2rem 0 1.2rem 1.2rem;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.auth-input::placeholder {
  color: darkgray;
}

.invalid-login {
  margin: 0;
  color: rgb(93, 93, 93);
  text-align: center;
  font-weight: 600;
  font-style: italic;
}

.submit.auth-input-div {
  margin: 2rem 0 1rem;
}

.auth-submit {
  padding: 0.5rem 2.5rem;
  border-radius: 50px;
  border: 1px solid lightgray;
  background-color: rgb(195, 195, 195);
  color: white;
  font-size: 1.6rem;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  cursor: pointer;
}

.sign-up {
  background-color: #6ddccf;
}

.alternate-action-div {
  text-align: center;
}

.alternate-action-div > a {
  text-decoration: none;
}

.alternate-action {
  color: white;
  margin: 0;
  font-size: 1.3rem;
  cursor: pointer;
}

.auth-text {
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 5rem 1rem 1rem;
  width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
  letter-spacing: 0.1rem;
}

.auth-text > p {
  padding-left: 1.5rem;
}

.auth-icons {
  display: flex;
  justify-content: center;
}

.auth-icons > i {
  transform: rotate(-90deg);
  font-size: 2rem;
  padding: 0 1rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  z-index: 2;
}

.navbar i {
  color: lightgray;
  font-size: 2rem;
  cursor: pointer;
}

.navbar i:hover {
  color: #ffcb91;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu {
  background: rgb(238, 238, 238);
  width: 20rem;
  font-size: 1.4rem;
  position: absolute;
  bottom: 3.2rem;
  right: 1.5rem;
  border-radius: 30px;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  padding: 1.5rem 3rem;
  z-index: 2;
}

.menu > a {
  text-decoration: none;
}

.menu > a:hover {
  color: #ffcb91;
}

.menu > h2,
.menu p {
  padding: 1rem 0;
}

.center {
  text-align: center;
}

@media screen and (min-width: 768px) {
  body {
    background-color: white;
  }

  header {
    display: flex;
  }

  .app-name {
    display: block;
    width: 100%;
  }

  .app-name > a {
    text-decoration: none;
    color: #ffcb91;
    margin: 0 auto;
    text-align: center;
  }

  .app-name > h1 {
    font-size: 2rem;
    font-family: 'Amaranth', sans-serif;
  }

  .page {
    border: none;
    box-shadow: none;
  }

  .location-form {
    width: 40rem;
  }

  .route-details {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
  }

  .route-details-text {
    max-width: 26rem;
    max-height: 40rem;
    overflow-y: scroll;
    margin-left: 0.5rem;
    padding-bottom: 0;
  }

  .map {
    width: 40rem;
    height: 40rem;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  }

  .route-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .route-list-item {
    padding-left: 2rem;
    width: 50rem;
  }

  .route-item-totals {
    flex-basis: 15%;
  }

  .friend.route-list-item {
    width: 40rem;
  }

  .friend.route-item-totals {
    flex-basis: 25%;
  }

  .options {
    padding: 1rem 1rem 1rem 2rem;
  }

  .walk-details {
    height: 40rem;
    width: 24rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .walk-details-text {
    height: 100%;
  }

  .friend-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .edit-page {
    display: flex;
    justify-content: center;
  }

  .modal {
    left: 36%;
  }

  .home-friends-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .friend-item {
    width: 30rem;
    padding: 0.5rem 0;
  }

  .add-friend-form {
    width: 40rem;
  }

  .auth-form {
    width: 30rem;
  }

  .auth-text {
    width: 100%;
  }

  .navbar {
    display: none;
  }

  .app-drawer {
    position: fixed;
  }

  .app-drawer > i {
    color: #ffcb91;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 2rem;
  }

  .menu {
    min-height: 125rem;
    bottom: auto;
    right: auto;
    padding: 2rem 3rem;
  }

  .hide.bars-icon {
    display: none;
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }
}
