* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  background-color: #f1eded;
  color: #494949;
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  min-width: 23rem;
  width: 100%;
  height: 100%;
  margin-bottom: 4rem;
  position: relative;
}

.app-name {
  display: none;
}

.page-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: gray;
  text-align: center;
}

.page {
  border-radius: 50px;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  height: 100%;
  margin: 0.8rem;
}

.input-div {
  padding: 2rem 0;
}

.location-label {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1rem;
}

.location-input {
  font-size: 1.2rem;
  border-radius: 50px;
  border: 1px solid gray;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  height: 1.8rem;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

.read-only {
  display: flex;
  color: black;
  background-color: rgb(240, 240, 240);
  line-height: 1rem;
  margin: 0.5rem 0;
  align-items: center;
}

.button {
  padding: 0.5rem 2.5rem;
  border-radius: 50px;
  border: 1px solid lightgray;
  background-color: #6ddccf;
  color: white;
  font-size: 1.6rem;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  cursor: pointer;
}

.pac-container {
  font-family: 'Raleway', sans-serif;
  border-radius: 15px;
}

.map {
  height: 23rem;
  border-radius: 50px;
  margin: 0.5rem;
}

.route-details-text {
  background-color: white;
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
}

.route-info {
  padding: 1rem 0 0 0.5rem;
  display: flex;
  justify-content: space-between;
}

.options {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 1rem 1rem 1rem 3rem;
  background-color: white;
  margin: 0.5rem 0;
}

.options-col {
  display: flex;
  flex-direction: column;
}

.option-button {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  width: 10rem;
  flex-basis: 50%;
}

.save-button {
  width: 8rem;
  flex-basis: 40%;
}

.option-link {
  text-decoration: none;
}

.save-icon {
  color: #ffcb91;
  font-size: 2rem;
  padding: 0.5rem;
}

.share-icon,
.directions-icon,
.edit-icon {
  color: #ffcb91;
  font-size: 1.6rem;
  padding: 0.5rem;
}

.button-text {
  color: #ffcb91;
  font-size: 1.4rem;
  font-weight: 500;
}

.route-list-item {
  display: flex;
  border-top: 1px solid lightgray;
  padding: 1rem 0;
  cursor: pointer;
}

.route-item-locations {
  flex-basis: 75%;
}

.route-item-icon-location {
  display: flex;
  align-items: center;
}

.route-item-start-location {
  font-weight: 600;
}

.stop-location {
  padding-left: 1rem;
}

.walk-icon {
  color: #ffcb91;
  font-size: 1.6rem;
  padding: 0.2rem 0.5rem;
}

.marker-icon {
  color: #ffcb91;
  font-size: 1.3rem;
  padding: 0.2rem 0.5rem;
}

.route-item-totals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 25%;
}

.empty-list {
  text-align: center;
  font-style: italic;
  color: darkgray;
  border-top: 1px solid lightgray;
  padding: 2rem;
}

.walk-details {
  margin: 0.8rem;
}

.walk-details-text {
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 1rem;
  background-color: white;
}

.walk-details-section {
  padding: 1rem;
}

.walk-details-section > h2 {
  font-weight: 500;
  font-size: 1.3rem;
}

.friend-list {
  padding: 2rem 0;
}

.friend-list-item {
  display: flex;
  align-items: center;
  width: 15rem;
}

.checkbox {
  width: 1.6rem;
  height: 1.6rem;
}

.friend-label {
  display: flex;
}

.friend-icon {
  color: #ffcb91;
  font-size: 3rem;
  padding: 1rem;
}

.friend-name {
  font-size: 1.5rem;
}

.add-date-div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-date-icon {
  color: #ffcb91;
  font-size: 2rem;
  padding-right: 1rem;
}

.add-date-text {
  color: #ffcb91;
  font-size: 1.4rem;
  font-weight: 500;
}

.modal {
  position: absolute;
  border-radius: 50px;
  padding: 2rem 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  top: 35%;
  left: 3%;
  z-index: 2;
}

.date-time {
  border-radius: 20px;
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  padding: 0.3rem 0 0.3rem 1rem;
  margin: 0.5rem 0;
}

.date-label {
  padding-left: 1rem;
}

.date-button-div {
  text-align: center;
  padding-top: 1rem;
}

.date-button {
  padding: 0.5rem 0;
  margin: 0 0.5rem;
  width: 6rem;
  border-radius: 50px;
  border: 1px solid lightgray;
  background-color: #6ddccf;
  color: white;
  font-size: 1.2rem;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  cursor: pointer;
}

.date-button.cancel {
  background-color: lightgray;
}

.edit-page {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.delete-icons {
  display: flex;
  flex-direction: column;
}

.delete-icons > i {
  color: #ffcb91;
  padding: 2rem 1.5rem;
  font-size: 2rem;
  cursor: pointer;
}

.edit-section {
  padding: 1.4rem 0;
}

.edit-section > h2 {
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0;
}

.edit-section > p {
  margin: 0;
  font-size: 1.4rem;
}

.delete-route {
  color: #ffcb91;
  font-weight: 500;
  font-size: 1.4rem;
  cursor: pointer;
}

.invisible {
  visibility: hidden;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
}

.navbar i {
  color: lightgray;
  font-size: 2rem;
  cursor: pointer;
}

.navbar i:hover {
  color: #ffcb91;
}

.app-drawer {
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.center {
  text-align: center;
}

@media screen and (min-width: 768px) {
  body {
    background-color: white;
  }

  header {
    display: flex;
  }

  .app-name {
    display: block;
    width: 100%;
  }

  .app-name > h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Amaranth', sans-serif;
    color: #ffcb91;
    font-weight: normal;
  }

  .page {
    border: none;
    box-shadow: none;
  }

  .location-form {
    width: 40rem;
  }

  .route-details {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
  }

  .route-details-text {
    max-width: 26rem;
    max-height: 40rem;
    overflow-y: scroll;
    margin-left: 0.5rem;
  }

  .map {
    width: 40rem;
    height: 40rem;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  }

  .route-list {
    margin: 0 5rem;
  }

  .route-list-item {
    padding-left: 5rem;
  }

  .options {
    padding: 1rem 1rem 1rem 2rem;
  }

  .walk-details {
    height: 40rem;
    width: 24rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .walk-details-text {
    height: 100%;
  }

  .friend-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal {
    left: 36%;
  }

  .navbar {
    display: none;
  }

  .app-drawer {
    display: block;
    position: absolute;
  }

  .app-drawer > i {
    color: #ffcb91;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 2rem;
  }

  .menu {
    background: rgb(238, 238, 238);
    width: 15rem;
    position: absolute;
    border-radius: 30px;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
    padding: 2rem;
    z-index: 2;
    min-height: 125vh;
  }

  .menu > a {
    text-decoration: none;
  }

  .menu > a:hover {
    color: #ffcb91;
  }

  .menu > h2,
  .menu p {
    padding: 1rem 0;
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }
}
